{% extends "events/base.html" %} {% block content %}

<h1>Your Profile:</h1>
<hr>

<section class="vh-90"">
    <div class=" container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-6 mb-4 mb-lg-0">
            <div class="card mb-3" style="border-radius: .5rem;">
                <div class="row g-0">
                    <div class="col-md-4 gradient-custom text-center text-white"
                        style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem; background: #f6d365; background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1)); background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1)); padding-top: 10px;">
                        <img src="{{user.profile.profile_image.url}}" alt="Avatar" class="img-fluid my-3 rounded-circle"
                            style="width: 90px; height: 90px;" />
                        {% if user.first_name and user.last_name %}
                        <h4 class='fw-bold'>{{user.first_name}} {{user.last_name}}</h4>
                        {% endif %}
                        <p class='fs-5 fw-bold'>{{user.username}}</p>
                        <a href="{% url 'update_profile' %}" class="btn btn-outline-primary">Update</a>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body p-4">
                            <h6>Information</h6>
                            <hr class="mt-0 mb-4">
                            {% if user.first_name and user.last_name %}
                            <div class="row pt-1">
                                <div class="col-6 mb-3">
                                    <h6>First Name</h6>
                                    <p class="text-muted">{{user.first_name}}</p>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6>Last Name</h6>
                                    <p class="text-muted">{{user.last_name}}</p>
                                </div>
                            </div>
                            {% endif %}
                            <div class="row pt-1">
                                <div class="col-6 mb-3">
                                    <h6>Email</h6>
                                    <p class="text-muted">{{user.email}}</p>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6>Username</h6>
                                    <p class="text-muted">{{user.username}}</p>
                                </div>
                            </div>
                            <a href="{% url 'send_feedback' %}" class="btn btn-outline-primary btn-sm">Feedback</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
{% endblock %}